<!-- _todo_partial.html.erb -->
<%= turbo_frame_tag 'todos' do %>
  <div class="bg-gray-100 rounded p-4">
    <h3 class="text-lg font-bold">
      <%= todo.name%>
    </h3>
    <p class="text-gray-600">Description: <%= todo.description %></p>
    <span class="text-sm text-gray-500">Status: <%= todo.status %></span>
  </div>
<% end %>


